<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>D-3nvironmental</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<header>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">D-3nvironmentalists</a>
            </div>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Plots
              </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/arctic-ice">Arctic Sea Ice Minimum </a>
                        <a class="dropdown-item" href="/carbon-dioxide">Carbon Dioxide Levels</a>
                        <a class="dropdown-item" href="/sea-level">Sea Level Measurements</a>
                        <a class="dropdown-item" href="/zonal-means">Zonal Mean Temperatures</a>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/data">Data</a>
                </li>
            </ul>

        </div>
    </nav>
    <br>
</header>

<body>
    <div class="container"></div>

    <div class="row">

        <div class="col-md-12">

            <div class="jumbotron" style="background-color: white;">
                <h1 class="display-4" style="color: #333;">Artic Ice Levels</h1>
                <p><iframe width="900" height="600" frameborder="0" scrolling="no" src="//plotly.com/~davidfsolomon/2.embed"></iframe></p>
                <p>The amount of ice in the Arctic is diminishing every year as a consequence of global warming.  This graph details the downwards trend of every year’s ice minimum starting from 1979, until 2019.  The satellite surveys are taken in September.  That is when the sea ice levels are at their annual lows.  
    “Extent” and “Area” are two different ways of calculating the spread of sea ice in the Arctic.  “Extent” is more lenient with what it considers icy.  It allows for cells to be as little as fifteen percent ice to be considered icy, while “area” is much more exact and only accounts for areas that are specifically icy.  While they appear to communicate the same information, they are distinct and each offer specific information to scientists who study Arctic ice coverage.  
</p>
            </div>

        </div>

    </div>

    </div>
</body>

</html>
