<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>D-3nvironmental</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/slick.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/slick-theme.css') }}">
    <!--SLICK HEADERS-->
    <!-- <link rel="stylesheet" type="text/css" href="../static/css/slick.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/slick-theme.css" /> -->


</head>

<header>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">D-3nvironmentalists</a>
            </div>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Plots
              </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/arctic-ice">Arctic Sea Ice Minimum </a>
                        <a class="dropdown-item" href="/carbon-dioxide">Carbon Dioxide Levels</a>
                        <a class="dropdown-item" href="/sea-level">Sea Level Measurements</a>
                        <a class="dropdown-item" href="/zonal-means">Zonal Mean Temperatures</a>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">Data</a>
                </li>
            </ul>

        </div>
    </nav>
    <br>
</header>

<body>

    <div class="container"></div>

    <div class="row">

        <div class="col-md-12">

            <div class="jumbotron" style="background-color: white;">
                <h1 class="display-4" style="color: #333;">Climate Change</h1>
                <h2>The Planets Vital Signs</h2>
                <p>The Earth's climate has changed throughout history. Just in the last 650,000 years there have been seven cycles of glacial advance and retreat, with the abrupt end of the last ice age about 11,700 years ago marking the beginning of the
                    modern climate era — and of human civilization. Most of these climate changes are attributed to very small variations in Earth’s orbit that change the amount of solar energy our planet receives.

                </p>


            </div>

        </div>

    </div>
    <div class="container">
        <div class="for_slick_slider single-item">
            <div class="items">
                <img src="/static/data/Alaska.jpg" alt="">
            </div>
            <div class="items">
                <img src="/static/data/polarbear.jpg" alt="">
            </div>
            <div class="items">
                <img src="/static/data/Polar_Regions.jpg" alt="">
            </div>
            <div class="items">
                <img src="/static/data/co2.jpeg" alt="">
            </div>

        </div>
    </div>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="/static/js/slick.min.js"></script>
    <!-- <script src="../static/js/app.js"></script> -->
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    <!-- <script src="../static/js/slick.js"></script> -->
    <script src="{{ url_for('static', filename='js/slick.js') }}"></script>


    </script>
</body>

</html>