<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>D-3nvironmental</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<header>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">D-3nvironmentalists</a>
            </div>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Plots
              </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/arctic-ice">Arctic Sea Ice Minimum </a>
                        <a class="dropdown-item" href="/carbon-dioxide">Carbon Dioxide Levels</a>
                        <a class="dropdown-item" href="/sea-level">Sea Level Measurements</a>
                        <a class="dropdown-item" href="/zonal-means">Zonal Mean Temperatures</a>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/data">Data</a>
                </li>
            </ul>

        </div>
    </nav>
    <br>
</header>

<body>


        <div class="container"></div>

        <div class="row">

            <div class="col-md-12">

                <div class="jumbotron" style="background-color: white;">
                    <h1 class="display-4" style="color: #333;"> Global Mean Temperatures</h1>
                    <div class="col-md-12">
                        <div id="plot"></div>
                    </div>
                    <p>This graph illustrates the change in global surface temperature relative to 1951-1980 average temperatures. Nineteen of the 20 warmest years all have occurred since 2001, with the exception of 1998. The year 2016 ranks as the warmest on record. (Source: NASA/GISS). This research is broadly consistent with similar constructions prepared by the Climatic Research Unit and the National Oceanic and Atmospheric Administration.</p>
                
                </div>

            </div>

        </div>
        <form class="form-inline">
            <div class="form-group">
                <select id="selHemisphere">
                    <option value="Hem_24N_90N">Hem_24N_90N</option>
                    <option value="Hem_24S_24N">Hem_24S_24N</option>
                    <option value="Hem_90S_24S">Hem_90S_24S</option>
                    <option value="Hem_64N_90N">Hem_64N_90N</option>
                    <option value="Hem_44N_64N">Hem_44N_64N</option>
                    <option value="Hem_24N_44N">Hem_24N_44N</option>
                    <option value="Hem_EQU_24N">Hem_EQU_24N</option>
                    <option value="Hem_24S_EQU">Hem_24S_EQU</option>
                    <option value="Hem_44S_24S">Hem_44S_24S</option>
                    <option value="Hem_64S_44S">Hem_64S_44S</option>
                    <option value="Hem_90S_64S">Hem_90S_64S</option>
                </select>
        </form>
        </div>

        <div class="jumbotron" style="background-color: white;">
            <h1 class="display-4" style="color: #333;"> Mean Temperatures by Zone</h1>
            <div class="col-md-12">
                <div id="plot2"></div>
            </div>
            <p>This graph illustrates the change in annual mean surface temperatures relative to the 1951-1980 average temperatures for each selected zone. The zones are "slices" of each hemisphere that can be selected to highlight the temperature change in specific regions by latitude, i.e. tropics, subtropics, temperates, and polar regions. The effects of the widespread consumption of fossil fuels after the industrial revolution are most pronouned in the temperate regions, then the tropics, and lastly the polar regions. 
            </p>
        </div>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="{{ url_for('static', filename='js/zonalmeans.js') }}"></script>

</body>

</html>